h1{
    text-align: center;
    border-radius: 20px;
    background-color: aquamarine;
    font-size: 40px;
}
h3{
    border: none;
    background-color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
}